{
	"extends": "@essex/eslint-config",
	"parser": "@typescript-eslint/parser",
	"rules": {
		"@typescript-eslint/no-explicit-any": 0,
		"@typescript-eslint/no-non-null-assertion": 0,
		"@typescript-eslint/explicit-module-boundary-types": 0
	}
}
