node_modules/
.swc/

# Build Outputs
packages/*/lib/
packages/*/dist/
packages/*/storybook-static/
tsconfig.tsbuildinfo

# Test Output
coverage/
test-report.xml

# Yarn Gitignores
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Misc Files
.DS_Store
*.log
.idea/
.cache/
.docz/
