always-auth=true

# This should all go away when we make this package public
registry=https://pkgs.dev.azure.com/msrp-essex/_packaging/essex-npm/npm/registry/                         
//pkgs.dev.azure.com/msrp-essex/_packaging/essex-npm/npm/registry/:username=msrp-essex
//pkgs.dev.azure.com/msrp-essex/_packaging/essex-npm/npm/registry/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/msrp-essex/_packaging/essex-npm/npm/registry/:email=chtrevin@microsoft.com
//pkgs.dev.azure.com/msrp-essex/_packaging/essex-npm/npm/:username=msrp-essex
//pkgs.dev.azure.com/msrp-essex/_packaging/essex-npm/npm/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/msrp-essex/_packaging/essex-npm/npm/:email=chtrevin@microsoft.com
