name: Node CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x]

    steps:
      - uses: actions/checkout@v1

      - name: Debug Action
        uses: hmarr/debug-action@v1.0.0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm i -g pnpm
        name: Use pnpm

      - run: pnpm install
        name: Install Dependencies
        env:
          CI: true
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - run: pnpm ci
        name: Execute Tests
        env:
          CI: true
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish coverage to codecov.io
        uses: codecov/codecov-action@v1.0.3
        if: success() && matrix.node-version == '12.x'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  auto-merge:
    name: Auto-Merge Dependabot PRs
    if: github.actor == 'dependabot-preview[bot]'
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: auto-merge
        if: ${{github.actor}} == 'dependabot-preview[bot]'
        uses: ridedott/dependabot-auto-merge-action@master
        with:
          GITHUB_TOKEN: ${{ secrets.AUTOMERGE_PAT }}
