name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - run: yarn install
        env:
          CI: true
          BERRY_TOKEN: ${{ secrets.BERRY_TOKEN }}

      - run: yarn build
        env:
          CI: true
          BERRY_TOKEN: ${{ secrets.BERRY_TOKEN }}

      - run: yarn bundle
        env:
          CI: true
          BERRY_TOKEN: ${{ secrets.BERRY_TOKEN }}

      - name: deploy
        uses: JamesIves/github-pages-deploy-action@3.5.9
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: packages/apps/docsite/public
